header {
    background-color:skyblue;
    color:blue;
    align-items: center;
}

.main-header{
    display: grid;
    align-items: center;
    grid-template-columns: 175px, 1fr;
    align-items: center;
}

main {
    align-items: center;
}
footer{
    background-color:skyblue;
}
header, main, footer {
    max-width: 600px;
    align-items: center;
}