header {
    background-color:skyblue;
    color:blue;
    align-items: center;
    display: grid;
    grid-template-columns: 210px, 1fr;
}

main {
    align-items: center;
}
footer{
    background-color:skyblue;
}
header, main, footer {
    max-width: 630px;
    align-items: center;
}
body {
    justify-content: center;
}